<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h2 class="text-light">CONTACT</h2>
        <form action="https://formspree.io/danielpliego@gmail.com"
              method="POST">
            <div class="form-group">
              <input type="text" name="name" class="form-control bg-dark input-lg" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" name="_replyto" class="form-control bg-dark input-lg" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea name="mensaje" rows="3" class="form-control bg-dark" placeholder="Message"></textarea>
            </div>
            <input type="submit" value="SEND" class="btn btn-primary btn-lg">
        </form>
      </div>
      <div class="col-sm-5 contact-info">
        <div class="px-lg-5">
          <img src="assets/images/logo.svg" alt="" width="200" class="d-none d-lg-block">
          <p class="text-light pt-3">
            Concepción Beisteguí 705,
            <br>
            Del Valle Centro, CDMX
          </p>
          <ul class="fa-ul pt-3">
            <li class="pb-2">
              <a class="text-light" href="https://wa.me/525516607641">
                <span class="fa-li text-primary mt-0"><i class="fab fa-whatsapp"></i></span>
                (55) 1660 7641
              </a>
            </li>
            <li class="pb-2">
              <a class="text-light" href="mailto:danielpliego@gmail.com">
                <span class="fa-li text-primary mt-0"><i class="fal fa-envelope-open"></i></span>
                danielpliego@gmail.com
              </a>
            </li>
            <li class="pb-2">
              <a class="text-light" target="_blank" href="http://instagram.com/sinergialabmx">
                <span class="fa-li text-primary mt-0"><i class="fab fa-instagram"></i></span>
                sinergialabmx
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
