<div class="bg-dark py-5" id="contacto">
  <div class="my-4">
    <div class="container contact-container">
      <img src="assets/images/gradient-shadow.png" width="93" class="gradient-shadow-footer">
      <div class="row">
        <div class="col-sm-7">
          <h2 class="text-light">Queremos trabajar contigo, cuéntanos de tu proyecto</h2>
          <form action="https://formspree.io/danielpliego@gmail.com"
                method="POST">
              <div class="form-group">
                <input type="text" name="name" class="form-control bg-dark input-lg" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input type="email" name="_replyto" class="form-control bg-dark input-lg" placeholder="Correo electrónico">
              </div>
              <div class="form-group">
                <input type="text" name="phone" class="form-control bg-dark input-lg" placeholder="Celular (opcional)">
              </div>
              <div class="form-group">
                <textarea name="mensaje" rows="5" class="form-control bg-dark" placeholder="Mensaje"></textarea>
              </div>
              <input type="submit" value="ENVIAR" class="btn btn-primary btn-lg">
          </form>
        </div>
        <div class="col-sm-5 contact-info">
          <div class="px-5">
            <img src="assets/images/logo-footer.svg" alt="" width="120">
            <p class="text-light pt-3">
              Concepción Beisteguí 705,
              <br>
              Del Valle Centro, CDMX
            </p>
            <ul class="fa-ul pt-3">
              <li class="pb-2">
                <a class="text-light" href="callto:5516607641">
                  <span class="fa-li text-primary"><i class="fal fa-phone"></i></span>
                  (55) 1660 7641
                </a>
              </li>
              <li class="pb-2">
                <a class="text-light" href="mailto:contacto@sinergialab.mx">
                  <span class="fa-li text-danger"><i class="fal fa-envelope-open"></i></span>
                  contacto@sinergialab.mx
                </a>
              </li>
              <li class="pb-2">
                <a class="text-light" target="_blank" href="http://instagram.com/sinergialabmx">
                  <span class="fa-li text-warning"><i class="fab fa-instagram"></i></span>
                  sinergialabmx
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/images/footer-texture.png" width="712" class="footer-detail">
</div>
