
<div class="row">
  <div class="col-lg-6">
    <div class="pb-3">
      <img src="/assets/images/icon.svg" alt="Sinergia">
      <img src="/assets/images/icon-rotated.svg" alt="Sinergia">
    </div>
    <div class="header-copy">
      <h4 class="mb-4">Hi I'm Dan Pliego, I live in Mexico City and <span class="header-highlight">I do design, and front-end development since 2005.</span></h4>
      <h4 class="mb-4">You can picture myself as <span class="header-highlight">the link between your designers and developers</span>, pair me with an illustrator and a back-end developer and we can build anything, or hire me as a solo guy and <span class="header-highlight">I can research, plan, design, code and advertise your digital product.</span></h4>
      <h6>Apart from work <span class="header-highlight">I love music, my cats, the sea, to play drums</span> and for the past 3 months <span class="header-highlight">I traveled across europe to find inspiration</span> and now i'm looking for new opportunities.</h6>
    </div>
    <hr>
    <h6>See some work below ↓</h6>
  </div>
</div>
