
<div class="pb-5">
  <img src="/assets/images/logo.svg" alt="Sinergia" width="120" class="p-2">
</div>
<div class="row my-5">
  <div class="col-sm-7">
    <h1>¡Hola! Somos sinergia, un estudio de <span class="text-danger">diseño</span> y <span class="text-primary">publicidad</span> para medios digitales.</h1>
    <h5 class="mt-5 mb-3">
      ¿Qué Hacemos?
    </h5>
    <div class="row">
      <div class="col">
        <ul class="list-unstyled">
          <li class="pb-2">
            Sitios web
          </li>
          <li class="pb-2">
            Aplicaciones móviles
          </li>
          <li class="pb-2">
            Branding
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li class="pb-2">
            Marketing digital
          </li>
          <li class="pb-2">
            Posicionamiento en <br>buscadores
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
