
// Reset

@keyframes spin {
  0% {
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg);
  }
  
  30% {
    -webkit-transform: rotate(90deg);
    transform:rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
  }

  80% {
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-90deg);
    transform:rotate(-90deg);
  }
}

@keyframes fadeOutIntro {
  from {
    opacity: 1;
    display: flex;
  }

  to {
    opacity: 0;
    display: none!important;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.35!important;
  letter-spacing: -.05rem;
}

h1, h2, h3, h4, h5, h6, label {
  font-weight: 100;
  line-height: 1.35!important;

  b {
    font-weight: bold;
  }
}

::selection {
  background: #B4A592;
}

a {
  color: $primary-color;
  
  &:hover {
    color: $primary-color;
  }
}

ul {
  padding-left: 1.5rem;
}

.fa-ul {
  margin-left: 1.3rem;

  a {
    padding-left: 1rem;
  }
}

.btn-primary {
  font-weight: 900;
  border: 0;
  border-radius: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 1rem 1.5rem .66rem;
  margin-top: 1rem;
}

.text-sm {
  font-size: .9rem;
}

// Styles

.initial-overlay {
  position: fixed;
  pointer-events: none;
  z-index: 3;
  background: $black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOutIntro 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}

.initial-overlay img {
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
}

section {
  padding: 6rem 0;
}

.work {
  background: $dark;
}

.badge {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.66rem;
  padding: .33rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  color: #fff;
}

.header {
  background: $secondary-color;
  position: relative;
  overflow: hidden;

  .header-highlight {
    color: $primary-color;
    transition: all ease-in .3s;
  }

  hr {
    border-color: $dark;
    margin: 3rem 0;
  }

  .video-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    
    video {
      position: absolute;
      position: absolute;
      left: -15.5%;
      top: -20.5%;
      width: 130%;
      height: 130%;
      opacity: 1;
      filter: grayscale(100%);
    }
  }


  .content__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10%;
    top: 0;
    background: url("../assets/images/textura.png") no-repeat center center;
    background-size: contain;
    will-change: transform;
  }
}

.item {
  position: relative;
  box-shadow: 0 10px 40px rgba(0,0,0,.15);
  transition: all ease-in 2s;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  
  &:nth-child(even) {
    margin-left: 1.5rem;
  }

  &:nth-child(odd) {
    margin-right: 1.5rem;
  }

  &:hover {
    box-shadow: 0 10px 40px rgba(0,0,0,.20);
  }

  .item-box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    padding: 2rem;
    color: $secondary-color;
    background: rgba($dark, .85);
    opacity: 0;
    transition: all ease-in 0.33s;
    display: flex;
  }

  .item-desc {
    align-self: center;
    flex: 1;
  }

  &:hover {
    .item-box {
      opacity: 1;
    }
  }
}

.about {
  background: $primary-color;

  .title-uppercase {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
}

.form-control {
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  color: white!important;
  padding: .66rem 0;
  font-weight: 500;
  font-size: 1rem;

  &::placeholder {
    color: #fff!important;
  }
}

@include media-breakpoint-down(md) {
  .header {
    padding-top: 17rem;

    .video-container {
      left: 0;
      top: 0;
      width: 100%;
      height: 200px;
      overflow: hidden;

      video {
        left: -450%;
        top: -300%;
        width: 1000%;
        height: 1000%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {

  html, body {
    font-size: 14px;
  }

  section {
    padding: 3rem 1.5rem;
  }

  .item {
    margin: 0 0 2rem!important;

    .item-box {
      display: flex;
      padding: 1rem;
      position: relative;
      background: $primary-color;
      opacity: 1;

      h2 {
        color: $dark!important;
      }
    }
  }
}

