<html>
    <head>
      {% include head.html %}
    </head>
    <body class="inicio">
      <div class="container">
        <div class="main bg-white">
          <div class="header">
            <img src="assets/images/gradient-shadow.png" width="93" class="gradient-shadow">
            {% include header.html %}
            {{content}}
          </div>
        </div>
      </div>
      {% include footer.html %}
      <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
      <script src="{{'/node_modules/popper.js/dist/popper.min.js' | prepend: site.baseurl}}"></script>
      <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
      <script defer src="assets/fontawesome-all.js" crossorigin="anonymous"></script>
    </body>
</html>
